# Aula 2

In [ ]:
import sklearn
from sklearn import datasets  
import pandas as pd

In [ ]:
help(sklearn)

In [ ]:
boston = datasets.load_boston()

In [ ]:
df = pd.DataFrame(boston.data)

In [ ]:
df.head()

In [ ]:
print(boston.DESCR)

### Bases de datos

In [ ]:
base_de_credito = pd.read_csv('base_de_credito.csv', sep=';')

In [ ]:
base_de_credito.head()

   edad  salario  ... morosidad_historica  anos_historial_crediticio
0    22    59000  ...                   Y                          3
1    21     9600  ...                   N                          2
2    25     9600  ...                   N                          3
3    23    65500  ...                   N                          2
4    24    54400  ...                   Y                          4

[5 rows x 12 columns]

In [ ]:
base_de_credito.describe()

               edad  ...  anos_historial_crediticio
count  32581.000000  ...               32581.000000
mean      27.734600  ...                   5.804211
std        6.348078  ...                   4.055001
min       20.000000  ...                   2.000000
25%       23.000000  ...                   3.000000
50%       26.000000  ...                   4.000000
75%       30.000000  ...                   8.000000
max      144.000000  ...                  30.000000

[8 rows x 8 columns]

### Base de entrenamiento y base de test

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x = base_de_credito[['edad', 'vr_prestamo']]
y = base_de_credito['status_prestamo']

In [ ]:
x_entrenamiento, x_test, y_entrenamiento, y_test = train_test_split(x, y, test_size=0.3)

In [ ]:
x_entrenamiento.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22806 entries, 28000 to 1545
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   edad         22806 non-null  int64
 1   vr_prestamo  22806 non-null  int64
dtypes: int64(2)
memory usage: 534.5 KB

In [ ]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9775 entries, 27679 to 21407
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   edad         9775 non-null   int64
 1   vr_prestamo  9775 non-null   int64
dtypes: int64(2)
memory usage: 229.1 KB

# Aula 3

### Tratamiento de datos

In [ ]:
base_de_credito.head()

   edad  salario  ... morosidad_historica  anos_historial_crediticio
0    22    59000  ...                   Y                          3
1    21     9600  ...                   N                          2
2    25     9600  ...                   N                          3
3    23    65500  ...                   N                          2
4    24    54400  ...                   Y                          4

[5 rows x 12 columns]

In [ ]:
base_de_credito.describe()

               edad  ...  anos_historial_crediticio
count  32581.000000  ...               32581.000000
mean      27.734600  ...                   5.804211
std        6.348078  ...                   4.055001
min       20.000000  ...                   2.000000
25%       23.000000  ...                   3.000000
50%       26.000000  ...                   4.000000
75%       30.000000  ...                   8.000000
max      144.000000  ...                  30.000000

[8 rows x 8 columns]

In [ ]:
base_de_credito.dropna(inplace=True)

In [ ]:
base_de_credito.describe()

               edad  ...  anos_historial_crediticio
count  28638.000000  ...               28638.000000
mean      27.727216  ...                   5.793736
std        6.310441  ...                   4.038483
min       20.000000  ...                   2.000000
25%       23.000000  ...                   3.000000
50%       26.000000  ...                   4.000000
75%       30.000000  ...                   8.000000
max      144.000000  ...                  30.000000

[8 rows x 8 columns]

In [ ]:
base_de_credito[base_de_credito['edad']>80]

       edad  salario  ... morosidad_historica  anos_historial_crediticio
81      144   250000  ...                   N                          3
183     144   200000  ...                   N                          2
575     123    80004  ...                   N                          3
32297   144  6000000  ...                   N                         25
32506    84    94800  ...                   N                         24

[5 rows x 12 columns]

In [ ]:
base_de_credito = base_de_credito[base_de_credito['edad']<=85]

In [ ]:
base_de_credito[base_de_credito['anos_de_trabajo']>50]

     edad  salario  ... morosidad_historica  anos_historial_crediticio
210    21   192000  ...                   N                          4

[1 rows x 12 columns]

In [ ]:
base_de_credito = base_de_credito[base_de_credito['anos_de_trabajo']<=50]

In [ ]:
base_de_credito.describe()

               edad  ...  anos_historial_crediticio
count  28633.000000  ...               28633.000000
mean      27.711941  ...                   5.793455
std        6.171973  ...                   4.037096
min       20.000000  ...                   2.000000
25%       23.000000  ...                   3.000000
50%       26.000000  ...                   4.000000
75%       30.000000  ...                   8.000000
max       84.000000  ...                  30.000000

[8 rows x 8 columns]

In [ ]:
x = base_de_credito.drop('status_prestamo', axis=1)
y = base_de_credito['status_prestamo']

In [ ]:
x.head()

   edad  salario  ... morosidad_historica  anos_historial_crediticio
0    22    59000  ...                   Y                          3
1    21     9600  ...                   N                          2
2    25     9600  ...                   N                          3
3    23    65500  ...                   N                          2
4    24    54400  ...                   Y                          4

[5 rows x 11 columns]

In [ ]:
x = pd.get_dummies(x)

In [ ]:
x.head()

   edad  salario  ...  morosidad_historica_N  morosidad_historica_Y
0    22    59000  ...                      0                      1
1    21     9600  ...                      1                      0
2    25     9600  ...                      1                      0
3    23    65500  ...                      1                      0
4    24    54400  ...                      0                      1

[5 rows x 26 columns]

In [ ]:
x_entrenamiento, x_test, y_entrenamiento, y_test = train_test_split(x, y, test_size = 0.3)

### Árbol de decisión

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
dtc = DecisionTreeClassifier(max_depth=4)

In [ ]:
dtc.fit(x_entrenamiento, y_entrenamiento)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
predicciones = dtc.predict(x_test)

In [ ]:
predicciones

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
accuracy_score(y_test, predicciones)

0.8933643771827706

In [ ]:
columnas = x.columns
fig, axes = plt.subplots(nrows=1, ncols=1, figsize = (20,20))
tree.plot_tree(dtc, feature_names=columnas, class_names=['0', '1'], filled=True);

### Bosques aleatorios

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rfc = RandomForestClassifier(criterion = 'entropy', n_estimators = 50)

In [ ]:
rfc.fit(x_entrenamiento, y_entrenamiento)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
predicciones_rfc = rfc.predict(x_test)

In [ ]:
accuracy_score(y_test, predicciones_rfc)

0.9318975552968568