# Aula 2

In [ ]:
import sklearn
from sklearn import datasets  
import pandas as pd

In [ ]:
help(sklearn)

In [ ]:
boston = datasets.load_boston()

In [ ]:
df = pd.DataFrame(boston.data)

In [ ]:
df.head()

In [ ]:
print(boston.DESCR)

### Bases de datos

In [ ]:
base_de_credito = pd.read_csv('base_de_credito.csv', sep=';')

In [ ]:
base_de_credito.head()

   edad  salario  ... morosidad_historica  anos_historial_crediticio
0    22    59000  ...                   Y                          3
1    21     9600  ...                   N                          2
2    25     9600  ...                   N                          3
3    23    65500  ...                   N                          2
4    24    54400  ...                   Y                          4

[5 rows x 12 columns]

In [ ]:
base_de_credito.describe()

               edad  ...  anos_historial_crediticio
count  32581.000000  ...               32581.000000
mean      27.734600  ...                   5.804211
std        6.348078  ...                   4.055001
min       20.000000  ...                   2.000000
25%       23.000000  ...                   3.000000
50%       26.000000  ...                   4.000000
75%       30.000000  ...                   8.000000
max      144.000000  ...                  30.000000

[8 rows x 8 columns]

### Base de entrenamiento y base de test

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x = base_de_credito[['edad', 'vr_prestamo']]
y = base_de_credito['status_prestamo']

In [ ]:
x_entrenamiento, x_test, y_entrenamiento, y_test = train_test_split(x, y, test_size=0.3)

In [ ]:
x_entrenamiento.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22806 entries, 28000 to 1545
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   edad         22806 non-null  int64
 1   vr_prestamo  22806 non-null  int64
dtypes: int64(2)
memory usage: 534.5 KB

In [ ]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9775 entries, 27679 to 21407
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   edad         9775 non-null   int64
 1   vr_prestamo  9775 non-null   int64
dtypes: int64(2)
memory usage: 229.1 KB